---
import Header from "@/components/header.astro";
import Benefits from "@/components/ui/benefits.astro";
import Contact from "@/components/ui/contact.astro";
import Hero from "@/components/ui/hero.astro";
import Services from "@/components/ui/services.astro";
import Footer from "@/components/ui/footer.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/cat.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Securaq Developers</title>
	</head>
	<body class="flex min-h-[100dvh] flex-col">
		<Header />
		<main id="inicio" class="flex-1">
			<Hero />
			<Services />
			<Benefits />
			<Contact />
			<Footer />
		</main>
	</body>
</html>
